/* Put your CSS here */
html, body {
    margin: 10px;
    font-family: sans-serif;
}

* {
  border-sizing: border-box;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
}

.active {
  background-color: #ccc;
}